-i https://pypi.org/simple
altgraph==0.17
click==7.1.2
environs==8.0.0
flask==1.1.2
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
marshmallow==3.7.1
pillow-simd==7.0.0.post3
python-dotenv==0.14.0
qrcode==6.1
six==1.15.0
werkzeug==1.0.1
